altgraph==0.17
Click==7.0
dnspython==1.16.0
eventlet==0.25.1
Flask==1.1.1
Flask-Cors==3.0.8
Flask-SocketIO==4.2.1
flaskwebgui==0.1.5
future==0.18.2
greenlet==0.4.15
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
monotonic==1.5
pefile==2019.4.18
psutil==5.6.7
PyInstaller==3.6
python-engineio==3.11.2
python-socketio==4.4.0
pywin32-ctypes==0.2.0
six==1.14.0
Werkzeug==0.16.1
whichcraft==0.6.1
youtube-dl==2020.1.24
